Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [9]:
import pandas as pd
numbers = {4,8,15,16,23,42}
ser = pd.Series(list(numbers))

In [10]:
ser

0    16
1     4
2    23
3     8
4    42
5    15
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
variable print it.

In [11]:
A=[1,2,3,4,5,6,7,8,9,0]
ser=pd.Series(A)

In [12]:
ser

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [13]:
A=[['Name','Age','Gender'],['Alice',25,'female'],['Bob',30,'male'],['Claire',27,'female']]

In [17]:
series=pd.DataFrame(A)

In [18]:
series

        0    1       2
0    Name  Age  Gender
1   Alice   25  female
2     Bob   30    male
3  Claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans- DataFrame is a table type structure which contains rows and columns. But in case of pandas.series is a one dimensional structure

In [25]:
B=[['Name','Age','Gender'],['Alice',25,'female'],['Bob',30,'male'],['Claire',27,'female']]
series1=pd.DataFrame(B)
print(series1) #This will print the Dataframe
series2=pd.Series(B)
series2 #this will print the series

        0    1       2
0    Name  Age  Gender
1   Alice   25  female
2     Bob   30    male
3  Claire   27  female

0     [Name, Age, Gender]
1     [Alice, 25, female]
2         [Bob, 30, male]
3    [Claire, 27, female]
dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
you give an example of when you might use one of these functions?

In [19]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

data=None,
    index: 'Axes | None' = None,
    columns: 'Axes | None' = None,
    dtype: 'Dtype | None' = None,
    copy: 'bool | None' = None,
Above things we can modify in pandas dataframe.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans- DataFrame and series are mutable type.

Q7. Create a DataFrame using multiple Series. Explain with an example.